<!DOCTYPE html>
<html>
    <head>
        <title>Meal Connection</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/css/landingPageStyle.css">
    </head>
    <body>
        <h1>Meal Connection</h1>
        <h3>Helping connect restaurants and hospitals to provide 
            support during the COVID-19 crisis</h3>
        <div style="width: 100%">
            <div style="float: left; width: 50%">
                <a href="/restaurant">
                    <img class="navImg" src="/img/restaurant.jpg" style="width:50%; height:50%">
                </a>
                <p style="margin-left:25%; margin-right:25%">
                    For restaurants looking to provide meals for hospitals
                </p>
            </div>
            <div style="float: right; width: 50%">
                <a href="/hospital">
                    <img class="navImg" src="/img/hospital.png" style="width:50%; height:50%">
                </a>
                <p style="margin-left:25%; margin-right:25%">
                    For hospitals in need of meals
                </p>
            </div>
        </div>
    </body>
</html>